{% extends "_base.htm" %}

{% block title %}
	Bonus
{% endblock%}

{% block bodycontent %}


<div class="pg">
	<h2>Bonus:</h2>
	
	<p>In addition to the $1.50 for this hit, you will receive bonuses for submitting accurate judgments about the medications. You will rate data from four patients with four drugs each, for a total of 16 drugs. Your final judgement of each drug is eligible for an accuracy bonus of up to 10 cents. <b>You can potentially earn up to $1.60 in bonuses from this HIT.</b></p>
	<br>
	
	<form method="get" action="/scenario">
		<input type="submit" value="Begin Experiment"> 
	</form>
	
</div>



{% endblock %}