{% extends "_base.htm" %}
{% block title %}
	Order effects
{% endblock%}


{% block bodycontent %}

<div class="logout"><a href="/logout.htm">Logout</a></div>

<div class="pg">
<h2><center>Carryover effects</center></h2>

<div id="test" align="justify">

	<p><i>There are several threats to internal validity we need to watch out for when using within-subject designs – the same subjects experience multiple conditions and get measured for the DV each time. Order effects are when exposure to one condition changes participants’ responses to a later condition. We will look at one specific type of order effect here - <u>carryover effects</u>.</i></p>

	<p>Imagine you are interested in studying the effects of an intense exercise regimen on one’s cognitive ability in a spatial reasoning task. According to our theory, increased arousal should improve one’s spatial reasoning ability, resulting in increased accuracy in the task.</p>

	<p>To test this, you recruit a group of participants and make them go through the experimental condition – an intense exercise regimen for 15 minutes. You then administer the spatial reasoning task. For comparison, you then ask them to complete a control task – reading a short story while sitting down – before completing the spatial reasoning task again. This task shouldn’t lead to much arousal and therefore shouldn’t lead to improvements in people’s spatial reasoning ability.</p>

	<p>You hypothesize that participants’ accuracy in the spatial reasoning task will be higher in the intense exercise regimen condition than in the control condition.</p>

	<center><button id="continue" onclick="showQuiz()">Continue</button></center>

</div>

<div id="quiz" style="display:none">

	<p><b>What design does this study use?</b></p>

	<form id="Quiz1" style="position:relative;left:20px">
		<input type="radio" value="A" name="q1" id="q1a"><label for="q1a"><span id="optionA">&nbspBetween-subjects posttest only design</span></label><br>
		<input type="radio" value="B" name="q1" id="q1b"><label for="q1b"><span id="optionB">&nbspBetween-subjects pretest-posttest design</span></label><br>
		<input type="radio" value="C" name="q1" id="q1c"><label for="q1c">&nbspWithin-subjects design</label><br>
	</form><br>

	<center><button id="answer" onclick="answerQuiz1()">Check answer</button></center>

		<div id="A1" style="display:none"></div>

</div>

<center>
	<form id="myForm" method="post" action="/CarryoverEffects">
		<input type="submit" id="submit" onclick="MySubmit()" value="Continue" style="display:none"/>
		<input type="hidden" id="Q1" name="Q1" value="">
		<input type="hidden" id="progressinput" name="progressinput" value="">
	</form>
</center>

</div>


<script type="text/javascript">

var progress = {{progress}}

function showQuiz() {
	$('#continue').hide();
	$('#quiz').show();
}

function answerQuiz1() {

	Q1Outcome = $('input[name=q1]:checked', '#Quiz1').val();

	$('#answer').hide()
	$('#optionA, #optionB').css('opacity', '0.1');
	$('#q1a, #q1b, #q1c').attr('disabled', true);
	$('#A1').show();
	$('#submit').show();

	if (Q1Outcome=='C') { 
		$('#A1').html('<b>Correct!</b><br>This study uses a within-subjects design because the same group experiences both conditions – the exercise regimen and the control task – and gets measured on the dependent variable (spatial reasoning ability) after completing each condition.');
	}
	else {
		$('#A1').html('<b>Sorry, that is incorrect!</b><br>This study uses a within-subjects design because the same group experiences both conditions – the exercise regimen and the control task – and gets measured on the dependent variable (spatial reasoning ability) after completing each condition.');
	}
}

function MySubmit(){
	console.log('Submit dat!');
	$('#Q1').val(Q1Outcome);
	progress += 1;
	$('#progressinput').val(progress);
	$('#myForm').submit();
}

</script>




{% endblock %}
