{% extends "_base.htm" %}

{% block title %}
	User Data
{% endblock %}

{% block bodycontent %}
<head>
</head>
<body>


<!-- ########## User Data ########## -->
User:
<table>
<!-- Header Row -->
<tr>
<th>usernum</th>
<th>First Name</th>
<th>Last Name</th>
<th>username</th>
<th>password</th>
<th>Module1</th>
<th>Module2</th>


<!-- Subsequent Rows -->
{% for i in users %}
<tr>
<th>{{ i.usernum }}</th>
<th>{{ i.firstname }}</th>
<th>{{ i.lastname }}</th>
<th>{{ i.username }}</th>
<th>{{ i.password }}</th>
<th>{{ i.Module1 }}</th>
<th>{{ i.Module2 }}</th>
</tr>
{% endfor %}
</table>

</body>
{% endblock %}





