{% extends "_base.htm" %}

{% block title %}
	User Data
{% endblock %}

{% block bodycontent %}
<head>
</head>
<body>


<!-- ########## User Data ########## -->
User:
<table>
<!-- Header Row -->
<tr>
<th>username</th>
<th>password</th>
<th>created</th>
<th>Module1</th>
<th>Module2</th>


<!-- Subsequent Rows -->
{% for i in users %}
<tr>
<th>{{ i.username }}</th>
<th>{{ i.password }}</th>
<th>{{ i.created }}</th>
<th>{{ i.Module1 }}</th>
<th>{{ i.Module2 }}</th>
</tr>
{% endfor %}
</table>

<br>
<br>
<br>
<br>


</body>
{% endblock %}





