{% extends "_base.htm" %}

{% block title %}
	Demographics
{% endblock %}

{% block bodycontent %}

<script>
function readytosubmit(){
// 	sex 1 checked?
	s1 = document.getElementById('s1').checked 
	s2 = document.getElementById('s2').checked 
	s3 = document.getElementById('s3').checked 
	e1 = document.getElementById('e1').checked 
	e2 = document.getElementById('e2').checked 
	e3 = document.getElementById('e3').checked 
	r1 = document.getElementById('r1').checked 
	r2 = document.getElementById('r2').checked 
	r3 = document.getElementById('r3').checked 
	r4 = document.getElementById('r4').checked 
	r5 = document.getElementById('r5').checked 
	r6 = document.getElementById('r6').checked 
	r7 = document.getElementById('r7').checked 
	
	schecked = s1 || s2 || s3
	echecked = e1 || e2 || e3
	rchecked = r1 || r2 || r3 || r4 || r5 || r6 || r7
	
	if (schecked && echecked && rchecked)
	{
	console.log("stuff checked");
	document.getElementById('submit').disabled=false;
	}
	else
	{
	console.log("something not checked");
	document.getElementById('submit').disabled=true;
	}
}
</script>






<body>
<div class="pg">
<center><b>Demographics</b></center>
<left>


<form id="demographicsform" method="post" action="/demographics">
<b>Sex/Gender:</b><br>
&nbsp&nbsp&nbsp
<input type="radio" name="sex" id="s1" value="1" onclick="readytosubmit()" >Female<br>
&nbsp&nbsp&nbsp
<input type="radio" name="sex" id="s2" value="2" onclick="readytosubmit()" >Male<br>
&nbsp&nbsp&nbsp
<input type="radio" name="sex" id="s3" value="3" onclick="readytosubmit()" >Prefer Not to Report<br>
<br>
<b>Ethnicity:</b><br>
&nbsp&nbsp&nbsp
<input type="radio" name="ethnicity" id="e1" value="1" onclick="readytosubmit()" >Hispanic or Latino<br>
&nbsp&nbsp&nbsp
<input type="radio" name="ethnicity" id="e2" value="2" onclick="readytosubmit()" >Not Hispanic or Latino<br>
&nbsp&nbsp&nbsp
<input type="radio" name="ethnicity" id="e3" value="3" onclick="readytosubmit()" >Prefer Not to Report<br>
<br>


<b>Race:</b><br>
&nbsp&nbsp&nbsp
<input type="checkbox" name="race" id="r1" value=1 onclick="readytosubmit()" >American Indian/Alaska Native<br>
&nbsp&nbsp&nbsp
<input type="checkbox" name="race" id="r2" value=2 onclick="readytosubmit()" >Asian<br>
&nbsp&nbsp&nbsp
<input type="checkbox" name="race" id="r3" value=3 onclick="readytosubmit()" >Native Hawaiian or Other Pacific Islander<br>
&nbsp&nbsp&nbsp
<input type="checkbox" name="race" id="r4" value=4 onclick="readytosubmit()" >Black or African American<br>
&nbsp&nbsp&nbsp
<input type="checkbox" name="race" id="r5" value=5 onclick="readytosubmit()" >White<br>
&nbsp&nbsp&nbsp
<input type="checkbox" name="race" id="r6" value=6 onclick="readytosubmit()" >More than One Race<br>
&nbsp&nbsp&nbsp
<input type="checkbox" name="race" id="r7" value=7 onclick="readytosubmit()" >Prefer Not to Report<br>

<br>
<input type="submit" value="Submit" id="submit" disabled="disabled">
</form>


</left>
</div>




</body>






{% endblock %}




