{% extends "_base.htm" %}

{% block title %}
	Instructions
{% endblock%}

{% block bodycontent %}
<div class="pg">
<h2>Instructions:</h2>

<p>For this task, imagine you have been hired to work for a nursing home. The doctors in the nursing home want to find out how they can help their patients sleep better at night. Because most of the patients are ill, a good night's sleep is relatively hard to come by (most patients only sleep well 10% of the time).</p>

<p>Your task is to figure out if the medications the patients are taking cause them to sleep better or worse. You will rate the effect of each drug on quality of sleep on a scale ranging from -10 (Strong Sleep Inhibitor) to 10 (Strong Sleep Enhancer).

<ul>
	<li><b>Strong Sleep Inhibitors</b> are drugs that often prevent patients from getting good, restful sleep.</li>
	<li><b>Neutral</b> drugs have no effect on whether or not the patient get a good night's sleep.</li>
	<li><b>Strong Sleep Enhancers</b> are drugs that often cause patients to have good, restful sleep.</li>
</ul>

<p>You will view records from several different patients, each over the course of two weeks. For each day, you will see which medications the patient was prescribed, and you will predict whether or not they slept well that night. After seeing data from all 14 days, you will make a final judgment about how each medication affects the quality of patients' sleep. <b>This task will be difficult initially, but it will get easier as you go along.</b></p>

<form method="get" action="/practice">
	<button>Next</button>
</form>
<br>
</div>

{% endblock %}