{% extends "_base.htm" %}
{% block title %}
	Main menu
{% endblock%}


{% block bodycontent %}


<div class="pg">
<h2><center>Welcome {{username}}!</center></h2>

<p><span id="status_span">Span</span></p>

<center>
	<form id="Module1_Form" method="get" action="/SingleSubject">
		<button id="Module1_Button">Button text</button>
	</form>
	<br>
	<form id="Module2_Form" method="get" action="/WithinSubject">
		<button id="Module2_Button">Button text</button>
	</form>
</center>

<p>You are currently logged in. Would you like to <a href="/logout">log out?</a></p>


</div>






<script>

// Variables
var Module1 = '{{Module1}}';
var Module2 = '{{Module2}}';

function MainDisplay(){
	if (Module1 == 'Incomplete' && Module2 == 'Incomplete'){
		$('#status_span').html('You have not completed either module yet. What would you like to do?');
		$('#Module1_Button').html('Begin Single Subject Designs Module');
		$('#Module2_Button').html('Begin Within-Subjects Designs Module');
	}else if (Module1 == 'Complete' && Module2 == 'Incomplete'){

		$('#status_span').html('You have completed Single Subject Module, but not Within-Subjects Module. What would you like to do?');
		$('#Module1_Button').html('Redo Single Subject Designs Module');
		$('#Module2_Button').html('Begin Within-Subjects Designs Module');

	}else if (Module1 == 'Incomplete' && Module2 == 'Complete'){
		$('#status_span').html('You have completed the Within-Subjects Module, but not the Single Subject Module. What would you like to do?');
		$('#Module1_Button').html('Begin Single Subject Designs Module');
		$('#Module2_Button').html('Redo Within-Subjects Designs Module');

	}else if (Module1 == 'Complete' && Module2 == 'Complete'){
		$('#status_span').html('You have completed both modules! What would you like to do?');
		$('#Module1_Button').html('Redo Single Subject Designs Module');
		$('#Module2_Button').html('Redo Within-Subjects Designs Module');

	}
	// else{
	// 	$('#status_span').html('Your "if" statement is broken.');
	// }
}

MainDisplay();




</script>


{% endblock %}