{% extends "_base.htm" %}

{% block title %}
	New Patient!
{% endblock%}

{% block bodycontent %}


<div class="pg">
	<h2>Patient <span id="ScenarioSpan"></span> complete!</h2>
	
	<p>Now you will see data from another patient: <b><span name="CurrentPatient"></span></b> Remember that your goal is to figure out the effect each drug has on <span name="CurrentPatient"></span>'s quality of sleep. Click below to begin.</p>


	<form>
		<button value="submit" method="get" action="scenario">Next</button>
	</form>

</div>




<script>


$("#ScenarioSpan").html('{{scenario}}')
$('[name="CurrentPatient"]').html('{{CurrentPatient}}')


</script>

{% endblock %}
