{% extends "_base.htm" %}

{% block title %}
	Practice
{% endblock%}

{% block bodycontent %}

<!-- Hidden input for the completed data -->
<form id="pracdataform" method="post" action="/practice">
	<input id="PJInput" name="PJInput" type="hidden">
	<input id="PracticeArrayInput" name="PracticeArrayInput" type="hidden">
	<input id="Submit" onclick="MySubmit()" value="Submit" type="hidden">
</form>

<div id="DisplayDiv" class="pg" style="width:650px;height:440px;visibility:hidden">
	
	<center>
		<b>Patient: <span id="PatientName"></span></b> Day <span id="TrialNumber"></span>
		<br>
		<br>
		The patient took the following medications today:


		<div id= "Drug1" class="Drug1">
			<center>
				<IMG src="static/images/BlackWhiteCap.png" height="100px" width="100px"></IMG><br>
				Drug 1
			</center>
		</div>
		<div id="slider1" class="slider tooltip"
			title="Sleep Inhibitor - Neutral - Sleep Enhancer" 
			style="top:170px;
			left:-250px">
		</div>
	

		<div id="Drug2" class="Drug2">
			<center>
				<IMG src="static/images/PurpleWhiteCap.png" height="100px" width="100px"></IMG><br>
				Drug 2
			</center>
		</div>
		<div id="slider2" class="slider tooltip" 
			title="Sleep Inhibitor - Neutral - Sleep Enhancer"
			style="top:-155px;
			left:-85px">
		</div>


		<div id="Drug3" class="Drug3">
			<center>
				<IMG src="static/images/RedCap.png" height="100px" width="100px"></IMG><br>
				Drug 3
			</center>
		</div>
		<div id="slider3" class="slider tooltip"
			title="Sleep Inhibitor - Neutral - Sleep Enhancer"
			style="top:-345px;
			left:85px">
		</div>


		<div id="Drug4" class="Drug4">
			<center>
				<IMG src="static/images/TealWhiteCap.png" height="100px" width="100px"></IMG><br>
				Drug 4
			</center>
		</div>
		<div id="slider4" class="slider tooltip"
			title="Sleep Inhibitor - Neutral - Sleep Enhancer"
			style="top:-405px;
			left: 250px">
		</div>


		<div id="TJDiv" style="position:relative;top:-470px">
			<span id="TrialInstructions">Will the patient sleep well tonight?</span><br><br>
		

			<button id="SuccessButton">
				Yes
			</button>
			
			<button id="FailButton">
				No
			</button>
		</div>

		
		<div class="pg" id="SuccessDiv" style="position:relative;top:-505px;width:275px;padding:5px;border-width:1px">
			<center>
				<span id="SuccessSpan"></span><br>
				You may now adjust your beliefs about each drug. Click below when you're finished.
				<br>
				<br>
				<button id="NextButton">Next</button>
			</center>
		</div>

	</center>
</div>

<script>

// Variables and nonchanging text
var data = {{CurrentData}};
var TRIALNUMBER = 1;
var PJs = new Array();
var LengthOfData = 6;
var PracticeArray = new Array();

$("#PatientName").html('John Doe');

// $("#slider4").css("background-color", "white");
$(".slider").css("opacity", "1.0");

// Sets default view
function DisplaySpies(){

	if(TRIALNUMBER >= LengthOfData){
		$("#SuccessDiv").html(
			'<b>Patient data completed!</b><br> Please finalize your '+ 
			'judgments about each drug.'+
			'<br>'+
			'<br>'+
			'<button id="SubmitButton" onclick="MySubmit()">Finished</button>'
		);
		alert("Patient data completed! Please finalize your judgments about each drug.");
	}

	else{
		// increment TRIALNUMBER:
		TRIALNUMBER += 1;
		$("#TrialNumber").html(TRIALNUMBER);


		// set/reset visibility:
		$("#TJDiv").show();
		$("#SuccessDiv").hide();
		$("#SuccessSpan").hide();

		$("#slider1").css("background", "#FFFFFF");
		$("#slider2").css("background", "#FFFFFF");
		$("#slider3").css("background", "#FFFFFF");
		$("#slider4").css("background", "#FFFFFF");


		// Drug 1
		if(data[TRIALNUMBER-1][0] == 0){
			$("#Drug1").fadeTo("slow", "0.1");
		}
		else {
			$("#Drug1").fadeTo("slow", "1.0");
		}
		
		// Drug 2
		if(data[TRIALNUMBER-1][1] == 0){
			$("#Drug2").fadeTo("slow", "0.1");
		}
		else {
			$("#Drug2").fadeTo("slow", "1.0");
		}

		// Drug 3
		if(data[TRIALNUMBER-1][2] == 0){
			$("#Drug3").fadeTo("slow", "0.1");
		}
		else{
			$("#Drug3").fadeTo("slow", "1.0");
		}

		// Drug 4
		if(data[TRIALNUMBER-1][3] == 0){
			$("#Drug4").fadeTo("slow", "0.1");
		}
		else {
			$("#Drug4").fadeTo("slow", "1.0");
		}

		// freeze sliders
		$("#slider1").slider("disable");
		$("#slider2").slider("disable");
		$("#slider3").slider("disable");
		$("#slider4").slider("disable");

		$("#DisplayDiv").css("visibility","visible");

	}

}

function DisplayResult(){
	
	$("#TJDiv").hide();

	$("#slider1").css("background", "#FFFF00");
	$("#slider2").css("background", "#FFFF00");
	$("#slider3").css("background", "#FFFF00");
	$("#slider4").css("background", "#FFFF00");

	if(data[TRIALNUMBER-1][4] == 0){
		$("#SuccessSpan").html(
			'<font size="4pt" color="red"><u>The Patient Did Not Sleep Well!</u></font>'
		)
	}
	else if (data[TRIALNUMBER-1][4] == 1){
		$("#SuccessSpan").html(
			'<font size="4pt" color="green"><u>The Patient Slept Well!</u></font>'
		)
	}
	$("#SuccessDiv").show();
	$("#SuccessSpan").show();

	// unfreeze sliders
	$(".slider").slider("enable");

	// if(TRIALNUMBER >= LengthOfData){
	// 	$("#SuccessDiv").html(
	// 		'<span id="SuccessSpan"></span><br>'+ 
	// 		'<b>Missions completed.</b><br> Please finalize your '+ 
	// 		'recommendations to the Agency.'+
	// 		'<br>'+
	// 		'<br>'+
	// 		'<button id="SubmitButton" onclick="MySubmit()">Finished</button>'
	// 	);
	// 	if(data[TRIALNUMBER-1][4] == 0){
	// 		$("#SuccessSpan").html(
	// 			'<font size="4pt" color="red"><u>Mission failed!</u></font>'
	// 		)
	// 	}
	// 	else if (data[TRIALNUMBER-1][4] == 1){
	// 		$("#SuccessSpan").html(
	// 			'<font size="4pt" color="green"><u>Mission accomplished!</u></font>'
	// 		)
	// 	}
	// 	alert("Missions completed! Please finalize your recommendations to the Agency.");
	// }
}


// Buttons
$("#SuccessButton").click(function(){
	PJs[TRIALNUMBER-2] = 1
	DisplayResult()
});
$("#FailButton").click(function(){
	PJs[TRIALNUMBER-2] = 0
	DisplayResult()
});

$("#NextButton").click(function(){
	
	// update PracticeArray (judgments about each Drug at each timepoint)
	var RawJudgments = new Array();
	RawJudgments[0] = $("#slider1").slider("option", "value");
	RawJudgments[1] = $("#slider2").slider("option", "value");
	RawJudgments[2] = $("#slider3").slider("option", "value");
	RawJudgments[3] = $("#slider4").slider("option", "value");

	PracticeArray.push(RawJudgments)

	DisplaySpies();

});


// Slider formatting:
$(".slider").slider({
	min: -10
});
$(".slider").slider({
	max: 10
});
$(".slider").slider({
	value: 0
});
$(".slider").css("width", "110px");
$(".slider").css("position", "relative")


// Activate tooltips:
$(document).ready(function(){
	$('.tooltip').tooltipster({
		position: 'bottom'
	});
});


// Submit data to Post Handler
function MySubmit(){
	var RawJudgments = new Array();
	RawJudgments[0] = $("#slider1").slider("option", "value");
	RawJudgments[1] = $("#slider2").slider("option", "value");
	RawJudgments[2] = $("#slider3").slider("option", "value");
	RawJudgments[3] = $("#slider4").slider("option", "value");

	PracticeArray.push(RawJudgments)
	
	$("#PJInput").val(String(PJs));
	$("#PracticeArrayInput").val(String(PracticeArray));
	$("#pracdataform").submit();
}


// Initial Drug displays (so it won't fade when it loads up):
// Drug 1
if(data[TRIALNUMBER][0] == 0){
	$("#Drug1").css("opacity", "0.1");
}
else {
	$("#Drug1").css("opacity", "1.0");
}

// Drug 2
if(data[TRIALNUMBER][1] == 0){
	$("#Drug2").css("opacity", "0.1");
}
else {
	$("#Drug2").css("opacity", "1.0");
}

// Drug 3
if(data[TRIALNUMBER][2] == 0){
	$("#Drug3").css("opacity", "0.1");
}
else{
	$("#Drug3").css("opacity", "1.0");
}

// Drug 4
if(data[TRIALNUMBER][3] == 0){
	$("#Drug4").css("opacity", "0.1");
}
else {
	$("#Drug4").css("opacity", "1.0");
}

DisplaySpies();

</script>





{% endblock %}