{% extends "_base.htm" %}

{% block title %}
	Qualify for HIT
{% endblock%}

{% block bodycontent %}
<div class="pg">
	<center>
		<h2>You Qualify!</h2>
	</center>
	
	<p>Thank you for participating in our study! Our site uses popup alerts at several points in the task. Please click the "Test" button below to make sure these are functioning properly. If not, you may need to temporarily disable your popup blocker.</p>

	<button onclick="testalert()">Test</button>

	<p>If the button above opens a small alert message, please accept the HIT and then continue to the task.<p>
	
	<u><b>While using this site, never reload or press the back button</b></u>. If you do you may lose the ability to finish this HIT.<p>


	<center>
		<p><b><u>After testing the alert function and accepting the HIT:</b></u></p>
		<form method="get" action="/instructions">
			<input type="submit" value="Start the Study"/> 
		</form>
	</center>

</div>


<script>

function testalert(){
	alert("Alert boxes are functioning properly. You do not need to adjust your popup blocker.");
}




</script>


{% endblock %}
