{% extends "_base.htm" %}
{% block title %}
	Create an account
{% endblock%}


{% block bodycontent %}


<div class="pg">
<h2><center>Create an account:</center></h2>
<br>

<p>Please use your Pitt username, but <b><u>create a unique password for these tutorials</u></b></p>

<form method="post" action="/signup">
	First name: <input type="text" name="firstname"/><br><br>
	Last name: <input type="text" name="lastname"/><br><br>
	Pitt credential <i>(ex: abc12)</i>: <input type="text" name="username"/><br><br>
	Password: <input type="password" name="password1"/><br><br>
	Re-type Password: <input type="password" name="password2"/><br><br>
	<input type="submit" value="Submit"/>
</form>

</div>
{% endblock %}
