{% extends "_base.htm" %}
{% block title %}
	Within-Subjects Designs
{% endblock%}


{% block bodycontent %}

<!-- Hidden input for the completed data -->
<form id="dataform" method="post" action="/WithinSubject">
	<input id="Q1" name="Q1" type="hidden">
	<input id="Q2" name="Q2" type="hidden">
	<input id="progressinput" name="progressinput" type="hidden">
	<input id="Submit" onclick="MySubmit()" value="Submit" type="hidden">
</form>

<h2><center>Within-Subjects Designs</center></h2>

<div class="logout"><a href="/logout.htm">Logout</a></div>

<div id="Text1" class="pg">
	<p>Imagine you hear about a study being planned at your local university. The researchers are trying to find out which of two interventions is more effective for weight loss over a 3-month timespan. We’ll call them the Fruit Condition and the Vegetable Condition:</p>

	<ul>
		<li><b>Fruit Condition:</b> Each week, a new basket of fresh fruit is delivered to the participants.</li>
		<li><b>Vegetable Condition:</b> Each week, a new basket of fresh vegetables is delivered to the participants.</li>
	</ul>

	<p>If we want to see which of these interventions is more effective, there are a couple of ways we could go about it.</p>

	<p>First, we could use a between-subjects design. We could randomly divide the participants into two groups: one which gets the Fruit Condition and one which gets the Vegetable Condition. If the experimental group weighs less at the end of 3 months, we would conclude that counting calories is an effective weight loss strategy.</p>

	<p>Alternatively, we could use a within-subjects design. Using this approach, we would put everyone in both conditions at different points in time. Each participant would spend 3 months in the Fruit Condition and 3 months in the Vegetable Condition, randomly assigning each participant on the order of the two conditions. Then we could see if people consistently lose more weight in one condition than in the other.</p>
	<div>
		<center>
			<div class="pg" style="padding:5px;width:250px;display:inline-block;margin-right:50px">
				<IMG src="/static/images/BetweenSubjects.png" style="width:220px"></IMG>
			</div>
			<div class="pg" style="padding:5px;width:250px;display:inline-block">
				<IMG src="/static/images/WithinSubjects.png" style="width:220px"></IMG>
			</div>
			<br>
			<div style="display:inline-block;margin-right:210px">
				Between Subjects
			</div>
			<div style="display:inline-block">
				Within Subjects
			</div>
			<br>
			<br>
			<button onclick="EndText1()" style="width:100px">Next</button>
		</center>
	</div>
</div>

<div id="Quiz1" class="pg" style="display:none">
	<div>
		<center>
			<div class="pg" style="padding:5px;width:250px;display:inline-block;margin-right:50px">
				<IMG src="/static/images/BetweenSubjects.png" style="width:220px"></IMG>
			</div>
			<div class="pg" style="padding:5px;width:250px;display:inline-block">
				<IMG src="/static/images/WithinSubjects.png" style="width:220px"></IMG>
			</div>
			<br>
			<div style="display:inline-block;margin-right:210px">
				Between Subjects
			</div>
			<div style="display:inline-block">
				Within Subjects
			</div>
		</center>
	</div>

	<p>Which approach do you think offers more information about the effectiveness of each intervention?</p>
	<form id="Q1Answers">
		<input type="radio" name="q1" value="A" id="q1a"><label for="q1a">The between-subjects design</label><br>
		<input type="radio" name="q1" value="B" id="q1b"><label for="q1b">The within-subjects design</label><br>
	</form><br>
	<button id="AnswerButton1" onclick="RecordQuiz1()" style="width:100px">Next</button>
	<br>
	<div id="ResponseDiv1A" style="display:none">
		<p>Not quite, sorry!</p>
	</div>

	<div id="ResponseDiv1B" style="display:none">
		<p>Correct!</p>
	</div>

	<div id="Feedback" style="display:none">
		<p>Many researchers would agree that the within subjects design is better. The within subjects design allows for a direct comparison between the two interventions within the same individuals. In other words, it eliminates individual differences between participants as a factor that could influence the DV (weight). Let’s examine this a bit closer.</p>
		<button onclick="EndQuiz1()" style="width:100px">Okay</button>
	</div>


</div>


<div id="Text2" class="pg" style="display:none">

	<b>Fruit Condition:</b> Each week, a new basket of fresh fruit is delivered to the participants.<br>
	<b>Vegetable Condition:</b> Each week, a new basket of fresh vegetables is delivered to the participants.<br><br>

	<p>The defining feature of within subject designs is that they make a comparison within the same group of subjects rather than between different groups. Instead of looking at subjects in the Fruit Condition and subjects in the Vegetable Condition, we can compare subjects with <i>themselves</i>. Instead of having a dedicated control group, <i>each subject serves as a “control” for him/herself!</i></p>


	<div id="Quiz2">
		<p><b>Which of the following could pose a problem for a between-subjects comparison?</b></p>
		<form id="Q2Answers" style="position:relative;left:20px">
			<input type="radio" name="q2" value="A" id="q2a"><label for="q2a">There could be individual differences between the participants within each group.</label><br>
			<input type="radio" name="q2" value="B" id="q2b"><label for="q2b"><span id="optionB">We don't know for sure that the subjects were selected randomly from the population, so they may not be representative. What if this effect only applies to the subjects in our sample?</span></label><br>
			<input type="radio" name="q2" value="C" id="q2c"><label for="q2c"><span id="optionC">It's a correlational comparison because we're not actually manipulating the independent variable, and correlation doesn't imply causation!</span></label><br>
		</form><br>
		<div id="ResponseDiv2" style="display:none"></div>

		<button id="AnswerButton2" onclick="RecordQuiz2()" style="width:100px">Submit</button>

		<button id="SubmitButton" onclick="MySubmit()"  style="width:100px;display:none">Next</button>

	</div>
</div>





<script>

// Variables

var progress = {{progress}};
var Q1Outcome = "unanswered";
var Q2Outcome = new Array();
// because we're giving them multiple guesses, this way we can record all of them
var guesses = 0;

// Functions


function EndText1(){
	$('#Text1').hide();
	$('#Quiz1').show();
}

function RecordQuiz1(){
	
	// Record answer as "Q1Outcome"
	Q1Outcome =	$('input[name=q1]:checked', '#Q1Answers').val();


	if(Q1Outcome != 'A' & Q1Outcome != 'B'){
		alert('Please make a selection!');
		return

	}else if(Q1Outcome == 'A'){
		$('#ResponseDiv1A').show();
		
	}else if(Q1Outcome == 'B'){
		$('#ResponseDiv1B').show();
	}
	$('#AnswerButton1').hide();
	$('#Feedback').show();
}

function EndQuiz1(){
	$('#Quiz1').hide();
	$('#Text2').show();
}

function RecordQuiz2(){

	// Record answer as "Q2Outcome"
	
	Q2Outcome[guesses] = $('input[name=q2]:checked', '#Q2Answers').val();
	
	var answers = ['<p><i>That\'s what we\'re looking for! In a between subjects design, these individual differences are a mysterious nuisance: they increase the statistical noise in each group and thereby reduce our statistical power. Because within subjects designs essentially use each participant as their own control, the variation between participants in either condition is less important.</i></p>', '<p><i>We didn’t specify random selection from the population in either case, so while this isn’t ideal, it affects both designs equally. Try again!</i></p>', '<p><i>Not quite: our IV is the dietary intervention (Fruit Condition or Vegetable Condition). Since in the between subjects design we randomly assign subjects to one of these, we are directly manipulating the IV. Both designs are experimental rather than correlational. Try again!</i></p>']

	if(Q2Outcome[guesses] != 'A' & Q2Outcome[guesses] != 'B' & Q2Outcome[guesses] != 'C'){
		alert('Please make a selection!');
		return

	}else if(Q2Outcome[guesses] == 'A'){
		$('#ResponseDiv2').html(answers[0]);
		$('#AnswerButton2').hide();
		$('#q2b, #optionB, #q2c, #optionC').css('opacity', '0.1');
		$('#ResponseDiv2, #SubmitButton').show();
		guesses += 1;
		
	}else if(Q2Outcome[guesses] == 'B'){
		$('#ResponseDiv2').html(answers[1]);
		$('#ResponseDiv2').show();
		guesses += 1;

	}else if(Q2Outcome[guesses] == 'C'){
		$('#ResponseDiv2').html(answers[2]);
		$('#ResponseDiv2').show();
		guesses += 1;
	}
}

function MySubmit(){
	console.log('Submit dat!');
	$('#Q1').val(Q1Outcome);
	$('#Q2').val(Q2Outcome);
	progress += 1;
	$('#progressinput').val(progress);
	$('#dataform').submit();
}


</script>
{% endblock %}