{% extends "_base.htm" %}
{% block title %}
	Quiz
{% endblock%}


{% block bodycontent %}

<form id="dataform" method="post" action="/WithinSubject">
	<input id="AnswerInput" name="AnswerInput" type="hidden">
	<input id="progressinput" name="progressinput" type="hidden">
	<input id="Submit" onclick="MySubmit()" value="Submit" type="hidden">
</form>

<h2><center>Within-Subjects Quiz</center></h2>

<div class="logout"><a href="/logout.htm">Logout</a></div>

<div class="pg">
	<p id="Question1">This is the text from Question 1</p>

	<form id="Q1Answers">
		<div class="answer">
			<input type="radio" name="q1" value="A" id="q1a"><label for="q1a"><span id="Q1Option1"></span></label><br>
			<input type="radio" name="q1" value="B" id="q1b"><label for="q1b"><span id="Q1Option2"></span></label><br>
			<input type="radio" name="q1" value="C" id="q1c"><label for="q1c"><span id="Q1Option3"></span></label><br>
		</div>
	</form><br>
	
	<p id="Question2">This is the text from Question 2</p>

	<form id="Q2Answers">
		<div class="answer">
			<input type="radio" name="q2" value="A" id="q2a"><label for="q2a"><span id="Q2Option1"></span></label><br>
			<input type="radio" name="q2" value="B" id="q2b"><label for="q2b"><span id="Q2Option2"></span></label><br>
			<input type="radio" name="q2" value="C" id="q2c"><label for="q2c"><span id="Q2Option3"></span></label><br>
		</div>
	</form><br>

	<p id="Question3">This is the text from Question 3</p>

	<form id="Q3Answers">
		<div class="answer">
			<input type="radio" name="q3" value="A" id="q3a"><label for="q3a"><span id="Q3Option1"></span></label><br>
			<input type="radio" name="q3" value="B" id="q3b"><label for="q3b"><span id="Q3Option2"></span></label><br>
			<input type="radio" name="q3" value="C" id="q3c"><label for="q3c"><span id="Q3Option3"></span></label><br>
		</div>
	</form><br>
	
	<button id="SubmitButton" style="width:100px" onclick="MySubmit()">Submit</button>
	
	

</div>

<script>

var progress = {{progress}};
var Outcomes = new Array();



var QuestionList = ['What is the primary difference between a within-subjects design and a between-subjects design?','Which of the following is one advantage of using a within-subjects design?','Earlier I mentioned that within-subjects designs allow each participant to serve as his/her own control. Why is this important?']

var Q1Options = ['Between-subjects designs assign one level of the IV to each participant, whereas within-subjects designs require every participant to receive every level of the IV.', 'Within-subjects designs assign one level of the IV to each participant, whereas between-subjects designs require every participant to receive every level of the IV.', 'Within-subjects designs can be posttest-only, whereas between-subjects designs always require a pretest and a posttest.']

var Q2Options = ['Within-subject designs yield increased power to detect small but consistent differences between levels of the IV.','Within-subjects designs are true experiments, whereas all between-subjects designs are correlational.', 'Within-subjects designs allow us to randomize which participants get one level of the IV, and which get another level.']

var Q3Options = ['It eliminates noise in the data from population variance, increasing statistical power.','It decreases the cost of running experiments by reducing the number of participants needed.','It’s actually not important']


// Fill in questions, can use this format to randomize the order as well.
$('#Question1').html(QuestionList[0]);
$('#Question2').html(QuestionList[1]);
$('#Question3').html(QuestionList[2]);

// Fill in options for each question
$('#Q1Option1').html(Q1Options[0]);
$('#Q1Option2').html(Q1Options[1]);
$('#Q1Option3').html(Q1Options[2]);


$('#Q2Option1').html(Q2Options[0]);
$('#Q2Option2').html(Q2Options[1]);
$('#Q2Option3').html(Q2Options[2]);

$('#Q3Option1').html(Q3Options[0]);
$('#Q3Option2').html(Q3Options[1]);
$('#Q3Option3').html(Q3Options[2]);

function MySubmit(){

	Outcomes[0] = $('input[name=q1]:checked', '#Q1Answers').val();
	Outcomes[1] = $('input[name=q2]:checked', '#Q2Answers').val();
	Outcomes[2] = $('input[name=q3]:checked', '#Q3Answers').val();
	
	for(var i = 0; i < Outcomes.length; i++){
		if(Outcomes[i] != 'A' & Outcomes[i] != 'B' & Outcomes[i] != 'C' & Outcomes[i] != 'D'){
			alert('Please answer all of the questions!');
			return
		}
	}

	console.log('Submitting!');
	progress +=1;
	$('#progressinput').val(String(progress));
	$('#AnswerInput').val(String(Outcomes));
	$('#dataform').submit();
	
// scramble the order of the answers, keep track of which one is correct
}



</script>

{% endblock %}