{% extends "_base.htm" %}
{% block title %}
	Sim 2!!
{% endblock%}


{% block bodycontent %}

<form id="dataform" method="post" action="/WithinSubject">
	<input id="Q3" name="Q3" type="hidden">
	<input id="numbersims" name="numbersims" type="hidden">
	<input id="progressinput" name="progressinput" type="hidden">
	<input id="Submit" onclick="MySubmit()" value="Submit" type="hidden">
</form>

<h2><center>Within-Subjects Designs</center></h2>

<div class="logout"><a href="/logout.htm">Logout</a></div>

<div class="pg">
	<center>
		<div id="firstrow">
			<div id="between1" style="display:inline-block;margin-right:100px">
				<div class="pg" style="display:inline-block;margin-right:20px;padding:5px;width:200px">
					<IMG src="/static/images/testimage.png" style="width:200px"></IMG>
				</div>
				<div id="ttest1" style="visibility:hidden" class="ttest">
					<span id="tspan1">t=1.00</span><br>
					<span id="pspan1">p=.50</span><br>
					<span id="dspan1">d=0.10</span><br>
				</div>
			</div>
			
			<div id="within1" style="display:inline-block">
				<div class="pg" style="display:inline-block;margin-right:20px;padding:5px;width:200px">
					<IMG src="/static/images/testimage.png" style="width:200px"></IMG>
				</div>
				<div id="ttest2" style="visibility:hidden" class="ttest">
					<span id="tspan2">t=1.00</span><br>
					<span id="pspan2">p=.50</span><br>
					<span id="dspan2">d=0.10</span><br>
				</div>
			</div>
		</div>
		<br>

		<div id="secondrow" style="display:none">
			<div id="between2" style="display:inline-block;margin-right:100px">
				<div class="pg" style="display:inline-block;margin-right:20px;padding:5px;width:200px">
					<IMG src="/static/images/testimage.png" style="width:200px"></IMG>
				</div>
				<div id="ttest3" class="ttest">
					<span id="tspan1">t=1.00</span><br>
					<span id="pspan1">p=.50</span><br>
					<span id="dspan1">d=0.10</span><br>
				</div>
			</div>
			
			<div id="within2" style="display:inline-block">
				<div class="pg" style="display:inline-block;margin-right:20px;padding:5px;width:200px">
					<IMG src="/static/images/testimage.png" style="width:200px"></IMG>
				</div>
				<div id="ttest4" class="ttest">
					<span id="tspan2">t=1.00</span><br>
					<span id="pspan2">p=.50</span><br>
					<span id="dspan2">d=0.10</span><br>
				</div>
			</div>
		</div>
	</center>	
	<br>

	<div id="Text1">
		<p>The second advantage of within subject designs (closely related to the first) is that they are able to detect small but consistent differences that between subjects designs cannot, again because the designs ask different questions of the data.</p>

		<p>Here we see the same example data from both between and within subjects designs. Notice again that the comparisons we're drawing are fundamentally different in each case. On the left, we are comparing the means of each group in the context of each group's variance. On the right, we are comparing the consistency and magnitude of the differences between the Fruit and Vegetable Conditions for the same participants. A handy rule of thumb is to imagine lines connecting each individual's data in one condition to his/her data in the other. If the lines are largely parallel, it tells us that the treatments are having similar effects for all of the participants. If they're mostly sloped in the same direction, it tells us the treatments might have significantly different effects.</p>	
	</div>
	
	<div id="Text2" style="display:none">
		<p>In a within-subjects experiment, Fruit Condition and Vegetable Condition might have the same group means as they did before (7.5 and 8, respectively). However, if each subject saw increased weight loss in Vegetable Condition compared to Fruit Condition, even if the increase is small, the average increase might be significantly greater than 0. Small, consistent differences for each individual subject can yield a significant result.</p>

		<p>Try simulating a few datasets with the "Resample" button. Notice how when the lines are more parallel (i.e. the correlation is high between the two conditions), small differences can be statistically significant.</p>
	</div>
	<button id="NextButton" style="width:100px" onclick="StartSimulations()">Continue</button>

	<button id="ResampleButton" style="width:100px;display:none" onclick="ResampleFunction()">Resample</button>
	
	<button id="SubmitButton" style="display:none;float:right" onclick="MySubmit()">Continue to Quiz</button>
	
	

</div>

<script>



var datasets = 1;
var progress = {{progress}};


function StartSimulations(){
	console.log('Starting!');

	// hide stuff
	$('#Text1').hide();
	$('#NextButton').hide();

	// show stuff
	$('#ttest1').css('visibility', 'visible');
	$('#ttest2').css('visibility', 'visible');
	$('#secondrow').show();
	$('#Text2').show();
	$('#ResampleButton').show();
	$('#SubmitButton').show();
}

function ResampleFunction(){
	// Generate new data
	datasets += 1;
	console.log('Resampling!');

}


function MySubmit(){
	console.log('Submitting!');
	progress +=1;
	$('#progressinput').val(String(progress));
	$('#numbersims').val(datasets);
	$('#dataform').submit();
}



</script>

{% endblock %}