{% extends "_base.htm" %}
{% block title %}
	Sim 2!!
{% endblock%}


{% block bodycontent %}

<form id="dataform" method="post" action="/WithinSubject">
	<input id="AnswerInput" name="AnswerInput" type="hidden">
	<input id="progressinput" name="progressinput" type="hidden">
	<input id="Submit" onclick="MySubmit()" value="Submit" type="hidden">
</form>

<h2><center>Within-Subjects Quiz</center></h2>

<div class="logout"><a href="/logout.htm">Logout</a></div>

<div class="pg">
	<p id="Question1">This is the text from Question 1</p>

	<form id="Q1Answers">
		<input type="radio" name="q1" value="A" id="q1a"><label for="q1a">This is option A in Question 1</label><br>
		<input type="radio" name="q1" value="B" id="q1b"><label for="q1b">This is option B in Question 1</label><br>
		<input type="radio" name="q1" value="C" id="q1c"><label for="q1c">This is option C in Question 1</label><br>
		<input type="radio" name="q1" value="D" id="q1d"><label for="q1d">This is option D in Question 1</label><br>
	</form><br>
	
	<p id="Question2">This is the text from Question 2</p>

	<form id="Q2Answers">
		<input type="radio" name="q2" value="A" id="q2a"><label for="q2a">This is option A in Question 2</label><br>
		<input type="radio" name="q2" value="B" id="q2b"><label for="q2b">This is option B in Question 2</label><br>
		<input type="radio" name="q2" value="C" id="q2c"><label for="q2c">This is option C in Question 2</label><br>
		<input type="radio" name="q2" value="D" id="q2d"><label for="q2d">This is option D in Question 2</label><br>
	</form><br>

	<p id="Question3">This is the text from Question 3</p>

	<form id="Q3Answers">
		<input type="radio" name="q3" value="A" id="q3a"><label for="q3a">This is option A in Question 3</label><br>
		<input type="radio" name="q3" value="B" id="q3b"><label for="q3b">This is option B in Question 3</label><br>
		<input type="radio" name="q3" value="C" id="q3c"><label for="q3c">This is option C in Question 3</label><br>
		<input type="radio" name="q3" value="D" id="q3d"><label for="q3d">This is option D in Question 3</label><br>
	</form><br>

	<p id="Question4">This is the text from Question 4</p>

	<form id="Q4Answers">
		<input type="radio" name="q4" value="A" id="q4a"><label for="q4a">This is option A in Question 4</label><br>
		<input type="radio" name="q4" value="B" id="q4b"><label for="q4b">This is option B in Question 4</label><br>
		<input type="radio" name="q4" value="C" id="q4c"><label for="q4c">This is option C in Question 4</label><br>
		<input type="radio" name="q4" value="D" id="q4d"><label for="q4d">This is option D in Question 4</label><br>
	</form><br>

	<p id="Question5">This is the text from Question 5</p>

	<form id="Q5Answers">
		<input type="radio" name="q5" value="A" id="q5a"><label for="q5a">This is option A in Question 5</label><br>
		<input type="radio" name="q5" value="B" id="q5b"><label for="q5b">This is option B in Question 5</label><br>
		<input type="radio" name="q5" value="C" id="q5c"><label for="q5c">This is option C in Question 5</label><br>
		<input type="radio" name="q5" value="D" id="q5d"><label for="q5d">This is option D in Question 5</label><br>
	</form><br>	
	
	<button id="SubmitButton" style="width:100px" onclick="MySubmit()">Submit</button>
	
	

</div>

<script>

var progress = {{progress}};
var Outcomes = new Array();

function MySubmit(){

	Outcomes[0] = $('input[name=q1]:checked', '#Q1Answers').val();
	Outcomes[1] = $('input[name=q2]:checked', '#Q2Answers').val();
	Outcomes[2] = $('input[name=q3]:checked', '#Q3Answers').val();
	Outcomes[3] = $('input[name=q4]:checked', '#Q4Answers').val();
	Outcomes[4] = $('input[name=q5]:checked', '#Q5Answers').val();
	
	for(var i = 0; i < Outcomes.length; i++){
		if(Outcomes[i] != 'A' & Outcomes[i] != 'B' & Outcomes[i] != 'C' & Outcomes[i] != 'D'){
			alert('Please answer all five quesions!');
			return
		}
	}

	console.log('Submitting!');
	progress +=1;
	$('#progressinput').val(String(progress));
	$('#AnswerInput').val(String(Outcomes));
	$('#dataform').submit();
	

}



</script>

{% endblock %}